.body-home {
    display: flex;
    background-color: lightblue;
    height: 100%;
    overflow: hidden;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.diagonal-box {
    position: absolute;
    right: 65vw;
    bottom: -15vw;
    width: 100vw;
    height: 200vh;
    background-image: linear-gradient(45deg, #0067c7, #0084ff);
    transform: rotate(-65deg);
}

.diagonal-box-back {
    position: absolute;
    right: 60vw;
    bottom: -15vw;
    width: 100vw;
    height: 200vh;
    background-image: linear-gradient(45deg, #0057a8, #003b72);
    transform: rotate(-65deg);
}

.about-me {
    position: absolute;
    z-index: 2;
    left: 5vw;
    top: 20vh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-me h1 {
    font-size: 100px;
}

.about-me p {
    font-size: 25px;
}

.about-me button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }
  
  .about-me button:disabled {
    pointer-events: none;
  }
  
  .about-me button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .about-me button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  /*---------------------------------------------*/
  /* About Me */
  /*---------------------------------------------*/

  .body-about-me {
    background-color: lightblue;
  }


  /*---------------------------------------------*/
  /* Contact */
  /*---------------------------------------------*/

  .body-contact {
    background-color: rgb(0, 102, 136);
  }

  .contact {
    position: absolute;
    background-color: #0067c77e;
    padding: 5%;
    z-index: 2;
    left: 5vw;
    top: 20vh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .contact h2 {
      font-size: 70px;
  }      
  .contact h3 {
    font-size: 30px;
  }   
  .contact p {
      font-size: 25px;
  }

  .contact2 {
    position: absolute;
    background-color: #0067c77e;
    padding: 5%;
    z-index: 2;
    left: 40vw;
    top: 20vh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .contact2 h2 {
      font-size: 70px;
  }      
  .contact2 h3 {
    font-size: 30px;
    text-align: center;
  }   
  .contact2 p {
      font-size: 25px;
  }






  body {
    font-family: calibri, arial;
    font-size: 18px;
    margin-top: 60px;
  }
  
  ul {
    text-align: center;
    li {
      display:inline-block;
      margin-right: 15px;
      transition:all 0.3s ease-in-out;
      &:hover {
        .submenu {
          height: 85px;
        }
        a {        
          color: #3862a0;
          &::before {
            visibility: visible;
            transform: scale(1, 1);
          }
        }
      }
      .submenu {
        overflow:hidden;
        position:absolute;
        left: 0;
        width: 100%;
        background-color: #3862a0;
        height: 0;
        line-height: 40px;
        box-sizing:border-box;
        transition:height 0.3s ease-in-out;
        transition-delay: 0.1s;
        a {
          color: #fff;
          margin-top: 20px;
          font-size: 16px;
          &:hover {
            color: #fff;
            text-decoration:underline;
          }
        }
      }
      a {
        color: #999;
        display: block;
        padding: 0 7px 0 7px;
        margin: 0 0 10px;
        text-decoration: none;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -10px;
          left: 0px;
          background-color: #3862a0;
          transition: all 0.2s ease-in-out;
          transform: scale(0, 0);
          visibility: hidden;
        }
      }
    }
  }
  
  /*-------Some fancy styling-------*/
  h1 {
    text-align:center;
    font-family: satisfy;
    font-weight: 300;
  }